# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
/nepaBackend.model.DocumentText/
/data/
